{% extends 'base.html.twig' %}

{% block title %}Edit Franchise{% endblock %}

{% block body %}
    <h1>Edit Franchise</h1>

    <div class="card" style="width: 18rem;">
  <div class="card-body">
<p class="card-text">
	{{ include('admin_franchise/_form.html.twig', {'button_label': 'Update'}) }}

	<a href="{{ path('app_admin_franchise_index') }}">back to list</a>

	{{ include('admin_franchise/_delete_form.html.twig') }}</p>
  </div>
</div>
{% endblock %}
