body {
    background-color: #F8F8F8;
}

.btn-primary {
    background: #0000FF;
}

.btn-info {
    background: #CFCFCF;
}

.btn {
    border: none;
}

.btn-primary:hover {
    background: #0000FF !important;
}

.btn-info:hover {
    background: #CFCFCF !important;
}

.navbar {
    background: black !important;
}

.nav-link, .navbar-brand, .navbar-toggler, .navbar-toggler-icon {
    color: white !important;
}

.fit {
    height: 35px;
    width: 100px;
}